{% extends "./base.html" %}
{% load static %}
{% block body %}


<div class="d-flex justify-content-center" style="padding: 60px;">
    <div class="card mb-4 text-center" style="width: 100%; max-width: 400px;padding: 20px;">
        <h2>Detalle del Dueño</h2>
        <img src="{% static 'img/user.jpg' %}" alt="Logo" class="logo-home rounded-circle mx-auto d-block mb-4" style="width: 50%; height: auto;">
        <div class="card-body">
            <h4>{{ dueño.nombre }}</h4>
            <p><strong>RUT:</strong> {{ dueño.rut }}</p>
            <p><strong>Dirección:</strong> {{ dueño.direccion }}</p>
            <p><strong>Teléfono:</strong> {{ dueño.telefono }}</p>
            <p><strong>Correo:</strong> {{ dueño.correo }}</p>
        </div>
    </div>
    <div class="tabla-info" style="margin-left: 50px;">
        <h2>Mascotas de {{ dueño.nombre }}</h4>
        <br>
        <br>
{% if mascotas %}
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark text-center">
            <tr>
                <th>Nombre de la Mascota</th>
                <th>Fecha de Nacimiento</th>
                <th>Sexo</th>
                <th>Nombre de la Especie</th>
            </tr>
        </thead>
        <tbody>
            {% for mascota in mascotas %}
                <tr>
                    <td>{{ mascota.nombre_mascota }}</td>
                    <td>{{ mascota.fecha_nac }}</td>
                    <td>{{ mascota.sexo }}</td>
                    <td>{{ mascota.especie.nombre_especie }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Este dueño no tiene mascotas registradas.</p>
{% endif %}
    </div>
</div>




<div class="button" style="padding: 30px;">
    <a href="{% url 'gestionarDueño' %}" class="btn btn-info btn-xl">Volver</a>
</div>
{% endblock %}
