{% extends "./base.html"%}

{% block title %}Edición de Dueño{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 col-xl-4">
        <h1 class="mb-4 text-center">Editar Dueño</h1>

        <div class="card shadow-sm">
            <div class="card-body">
                <form action="/editarDueño/" method="POST">{% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" id="txtRut" name="txtRut" class="form-control" placeholder="RUT" required value="{{ dueño.rut }}">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre Completo" required value="{{ dueño.nombre }}">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtDireccion" name="txtDireccion" class="form-control" placeholder="Dirección" maxlength="50" required value="{{ dueño.direccion }}">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Teléfono" required value="{{ dueño.telefono }}">
                    </div>
                    <div class="form-group mb-4">
                        <input type="email" id="txtCorreo" name="txtCorreo" class="form-control" placeholder="Correo Electrónico" required value="{{ dueño.correo }}">
                    </div>
                    <div class="form-group d-grid">
                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
