{% extends "./base.html" %}
{% load static %}
{% block body %}
<h1 class="mb-4">Gestión de Especies</h1>
<div class="row">
  
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="text-dark">{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="card">
            <div class="card-body">
                <img src="{% static 'img/perro.jpg' %}" alt="Logo" class="logo-home rounded-circle mx-auto d-block mb-4" style="width: 50%; height: auto;">
                <form action="{% url 'registrarEspecie' %}" method="POST">{% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control"
                            placeholder="Nombre de la especie" required>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-success px-4"><i class="bi bi-floppy2-fill"></i> Guardar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

  
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark text-center">
                    <tr>
                        <th>ID</th>
                        <th>Nombre de la especie</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center align-middle">
                    {% for c in especie %}
                        <tr>
                            <td>{{ c.id }}</td>
                            <td>{{ c.nombre_especie }}</td>
                            <td>
                                <a href="{% url 'edicionEspecie' c.id %}" class="btn btn-warning btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'eliminarEspecie' c.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
