{% extends "./base.html" %}
{% load static %}
{% block body %}

<div class="container mt-5">
    
    <div class="text-center mb-4">
        
        <h1 class="display-5">¡Bienvenido a la Patitas Felices!</h1>
        <img src="{% static 'img/logo.jpg' %}" alt="Logo" class="logo-home rounded-circle" height="auto" width="30%">
        <h2>Hola, {{ request.user.username }}. Aquí puedes gestionar la información de la Veterinaria.</h2>
    </div>

    <div class="row">

        <div class="col-md-6 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">Gestión de Dueños</h4>
                    <p class="card-text">Ver, agregar, editar o eliminar registros de los dueños de mascotas.</p>
                    <a href="{% url 'gestionarDueño' %}" class="btn btn-primary">Ir a Dueños</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">Gestión de Mascotas</h4>
                    <p class="card-text">Administrar los datos de las mascotas vinculadas a sus dueños.</p>
                    <a href="{% url 'gestionarMascota' %}" class="btn btn-success">Ir a Mascotas</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">Gestión de Especies</h4>
                    <p class="card-text">Administrar los datos de las especies existentes.</p>
                    <a href="{% url 'gestionarEspecies' %}" class="btn btn-warning">Ir a Especies</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">¿Desea Cerrar la Sesión</h4>
                    <p class="card-text">Puedes volver cuando quieras.</p>
                    <a href="{% url 'logout' %}" class="btn btn-danger" onclick="return confirmarCierre()">Cerrar sesión <i class="bi bi-box-arrow-in-left"></i></a>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
{% endblock %}