{% extends "./base2.html" %}
{% load static %}
{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-80">
    
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;text-align: center;">
        <h1>Patitas Felices</h1>
        <img src="{% static 'img/logo.jpg' %}" alt="Logo" class="logo-home rounded-circle" height="auto" width="auto">
        <h2 class="text-center mb-4">Iniciar sesión como Admin</h2>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger text-center">{{ message }}</div>
            {% endfor %}
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
