* {
    font-weight: bold;
}

.center-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.navbar-brand h1 {
    font-size: 40px;
}

body {
    background-color: #f4f6f8;
}

.nav-link {
    font-size: 1.2rem; /* Sube a 1.4rem o más si quieres */
    font-weight: 500;  /* Negrita ligera, puedes subir a 600 o bold */
    padding: 0.7rem 1rem; /* Opcional: más espacio interior */
}